#pardot-form {
    color: #555555 !important;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 16px !important;
  /*  padding: 0px 0 0 40px; */
  max-width: 540px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    }
    
 /*   form.form p {
    padding: 7px 2px;    
    } */
    
#pardot-form p label {
    color: #777777 !important;
    font-size: 16px !important;
    font-weight: normal !important;
    padding-top: 10px !important;
    text-align: left !important;
    width: 30% !important;
    padding-right: 20px !important;
}

#pardot-form input.text {
    width: 50% !important;
	padding: 11px !important;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
	border: 1px solid #dedede !important;
}

#pardot-form select {
    font-weight: normal!important;
    width: 30% !important;
	padding: 1px 2px !important;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
	border: 1px solid #000000 !important;
}
    

form.form p.submit input {
    margin: 5px -22% 0 0 !important;    
}    
    
#pardot-form p.submit input {
    height: 50px !important;
    cursor: pointer !important;
	background-color: #F7941E !important;
	border: 1px solid #F7941E !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	font-size: 20px !important;
	font-weight:bold !important; 
    color: #ffffff !important;
    padding: 2px 10.5% !important;
    }
    
#pardot-form p.submit input:hover {
    background-color: #e3830e !important;
	border: 1px solid #e3830e !important;
    }
	
form.form p.submit {
    margin: 1em 0.5em 0.2em 0.5em !important;
    padding: 0 !important;
    text-align: center !important;
}