<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <style>
      th{
        padding-top:25px;
        padding-bottom:25px;
      }
      table, th, td {
        border-collapse: collapse;
  border: 1px solid #D8D8D8;
}
    </style> -->
</head>
<body>
<div style="width:80%;margin:auto;">
    <table style="width:100%;border: 1px solid #D8D8D8; border-collapse: collapse;">
        <tr style = "background-color:#41C3F0;border: 1px solid #D8D8D8;">
          <th style="padding-top:25px;padding-bottom:25px;font-size:26px;border: 1px solid #D8D8D8;">top of column one</th>
          <th style="padding-top:25px;padding-bottom:25px;font-size:26px;border: 1px solid #D8D8D8;">top of column two</th>
          <th style="padding-top:25px;padding-bottom:25px;font-size:26px;border: 1px solid #D8D8D8;">top of column three</th>
        </tr>
        <tr style = "border: 1px solid #D8D8D8;" >
          <td style="padding:40px;font-size: 20px;font-style: normal;font-weight: 400;line-height:30px;border: 1px solid #D8D8D8;">Lorem Khaled Ipsum is a major key to success. Let’s see what Chef Dee got that they don’t want us to eat. Surround yourself with angels. Mogul talk. The key is to drink coconut, fresh coconut, trust me. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. Cloth talk. Wraith talk. The first of the month is coming, we have to get money, we have no choice. It cost money to eat and they don’t want you to eat</td>
          <td style="padding:40px;font-size: 20px;font-style: normal;font-weight: 400;line-height:30px;border: 1px solid #D8D8D8;">Lorem Khaled Ipsum is a major key to success. Let’s see what Chef Dee got that they don’t want us to eat. Surround yourself with angels. Mogul talk. The key is to drink coconut, fresh coconut, trust me. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. Cloth talk. Wraith talk. The first of the month is coming, we have to get money, we have no choice. It cost money to eat and they don’t want you to eat</td>
          <td style="padding:40px;font-size: 20px;font-style: normal;font-weight: 400;line-height:30px;border: 1px solid #D8D8D8;">Lorem Khaled Ipsum is a major key to success. Let’s see what Chef Dee got that they don’t want us to eat. Surround yourself with angels. Mogul talk. The key is to drink coconut, fresh coconut, trust me. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. Cloth talk. Wraith talk. The first of the month is coming, we have to get money, we have no choice. It cost money to eat and they don’t want you to eat</td>
        </tr>
    </div>
</body>
</html>